@import url('http://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css');  

/*
	
	Head #666464*
	
	#9d9d9d
	
	1px solid #f2f1f1
	
	/

/* Clearfix */
.clearfix:before, .clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}
.clearfix {
*zoom: 1;
}



/*-- Basic Styles --*/
body {
font-family: 'Open Sans', sans-serif;
background:black;
background: url("../img/wood.jpg");

}

html, body {
  height: 100%;
}
.wrapper {
margin: 0 auto;
position: relative;
max-width: 1100px; 
width:100%;
}

.wrapper_full {width:98%; margin:0 auto;}



h1, h2, h3, h4, h5, h6 {
color: #626262;
font-family: 'Open Sans', sans-serif;
letter-spacing: 1px;
}
h1 {
font-size: 1.5em;
margin: .67em 0; margin:0;
}
h2 {
font-size: 1.5em;
margin: .75em 0; margin:0;
}
h3 {
font-size: 1.17em;
margin: .83em 0; margin:0;
}
h5 {
font-size: .83em;
margin: 1.5em 0; margin:0;
}
h6 {
font-size: .75em;
margin: 1.67em 0; margin:0;
}
h1, h2, h3, h4, h5, h6 {
font-weight: bolder
}
.clearfix:before, .clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}
.clearfix {
*zoom: 1;
}
a {
text-decoration:none;
color:#0189ca;
}
a:focus {
text-decoration:none;
color:#0189ca;
}
a:hover {
color:#0189ca;
text-decoration:none;
}
a:active {
text-decoration:none;
color:#0189ca;
}


@media only screen and (max-device-width: 1024px) {
	.wrapper_full {width:100%;}
}

/*--  Header --*/
header {
width: 100%;
background:#0189ca; 
float:left;
height:40px;
border-bottom:#666464;
}



header img {

height:auto;
float:left;
}

.logo {color:white; margin:0; padding:0; margin:1% 2% 1% 2%; float:left; font-size:16px; }
.logo a {color:white; font-weight:500; letter-spacing:1px;}
.logo:hover {box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5);}


.language {
float:right;
margin:10px 0 10px 0;
}

.language select {
color:#FFF; 
overflow: hidden;
background:url(../img/icon/down.png) no-repeat right transparent;
width: 45px;
padding: 0px;
font-size: 14px;
line-height: 1;
border: 0;
border-radius: 0;
height: 100%;
-webkit-appearance: none;
-moz-appearance: none;
text-indent: 0.01px;
text-overflow: '';
display:inline;
}
.language select:hover {
}
.language input, .language select, .language textarea {
padding:0;
margin:0;
}
option:not(:checked) {
background-color: white;
color:#000; 
}

option:hover,
option:focus,
option:active,
option:checked {
color:black; 
}


/*mobile*/
@media only screen and (max-device-width: 1024px) {

header img {width:80px; height:32px; margin:5px 5px 5px 5px; }
.language {margin:10px 15px 10px 0;}
}


/*--Content--*/
.content {
width:100%;
height:100%;
}
#pic {
width:100%;
height:100%;
background: url("../img/bg.jpg") no-repeat scroll 50% 50% black;
background-size:100%;
}
@media only screen and (max-device-width: 2700px) and (orientation: portrait) {
#pic {
background: url("../img/bg_small.jpg") no-repeat scroll top center #111111;
width:100%;
height:100%;
background-size:100%;
}
}


/*----Search ----*/

input, select, textarea {
background: none repeat scroll 0 0 #ffffff;
border: 1px solid #c3c2c2;
color: #5e5e5e;
display: block;
font-size: inherit;
padding: 10px;
width: 100%;
box-sizing: border-box;
font-size: 25px;
margin: 0;
height: 60px;
z-index:999;
}
#searchtext {
overflow: hidden;
}
a.search-submit-button {
background: none repeat scroll 0 0 #ffffff;
background: url("../img/icon/btn_search.jpg") no-repeat scroll 50% 50%;
color: #5e5e5e !important;
display: block;
float: right;
font-family: inherit;
font-size: 20px;
padding: 8px 10px;
text-align: center;
width: 60px;
box-sizing: border-box;
height: 60px;
z-index:999;
background-color:white;
border: 1px solid #c3c2c2;
border-left:0;
}
a.search-submit-button:hover {
background: none repeat scroll 0 0 #ffffff;
background: url("../img/icon/btn_search_hover.jpg") no-repeat scroll 50% 50%;
background-color:#0189ca;
}
#form-container {
	
width: 50%;
z-index:999;
position:absolute;
margin: 23% 25% 0 25%; 
}


@media (max-width:2500px) and (orientation: portrait)  {
#form-container {
width:80%;
margin: 60% 10% 0 10%;
}
input, select, textarea {
font-size: 17px;
height:50px;
}
a.search-submit-button {
height:50px;
width: 50px;
}
}




@media (max-width:1020px) and (orientation: landscape) {
#form-container {
width:80%;
margin: 25% 10% 0 10%;
}
input, select, textarea {
font-size: 17px;
height:50px;
}
a.search-submit-button {
height:50px;
width: 50px;
}
}




/*-- Navigation --*/
#menubg {
background: #181818;
width:100%;
position:fixed;
min-height:50px;
height:8%;
bottom:0;
z-index:3;
max-height:70px;
}
#menuwrap {
width:100%;
margin:0 auto;
}
#menu {
width:100%;
height:100%;
position:absolute;
bottom:0;
margin:0;
padding:0;
}
#menu li {
float:left;
margin:0;
list-style: none;
width:33.33333333%;
height:100%;
background: #181818; 
}
#menu li a {
display:block;
text-indent: -9999px;
text-align:center;
overflow: hidden;
height:100%;
width:100%;
color:white;
text-decoration:none;
}
#menu li#home a {
background: url("../img/icon/search_name.svg") no-repeat scroll 0 0 transparent;
width:100%;
background-position: center;
}
#menu li#map_search a {
background: url("../img/icon/search_map.svg") no-repeat scroll 0 0 transparent;
width:100%;
background-position: center;
}
#menu li#code_search a {
background: url("../img/icon/search_code.svg") no-repeat scroll 0 0 transparent;
width:100%;
background-position: center;
}
#menu li#home a:hover {
background: url("../img/icon/search_name_hover.svg") no-repeat scroll 0 0 #0189ca;
background-position: center;
}
#menu li#map_search a:hover {
background: url("../img/icon/search_map_hover.svg") no-repeat scroll 0 0 #0189ca;
background-position: center;
}
#menu li#code_search a:hover {
background: url("../img/icon/search_code_hover.svg") no-repeat scroll 0 0 #0189ca;
background-position: center;
;
}
#menu li#home a.current {
background: url("../img/icon/search_name_hover.svg") no-repeat scroll 0 0 #0189ca;
cursor:default;
background-position: center;
}
#menu li#map_search a.current {
background: url("../img/icon/search_map_hover.svg") no-repeat scroll 0 0 #0189ca;
cursor:default;
background-position: center;
}
#menu li#code_search a.current {
background: url("../img/icon/search_code_hover.svg") no-repeat scroll 0 0 #0189ca;
cursor:default;
background-position: center;
}
#menu li#view a {
background: url("../img/view.jpg") no-repeat scroll 0 0 transparent;
width:100%;
background-position: center;
}
#menu li#description a {
background: url("../img/description.jpg") no-repeat scroll 0 0 transparent;
width:100%;
background-position: center;
}
#menu li#ingredient a {
background: url("../img/ingredient.jpg") no-repeat scroll 0 0 transparent;
width:100%;
background-position: center;
}
#menu li#view a:hover {
background: url("../img/view_hover.jpg") no-repeat scroll 0 0 #0189ca;
background-position: center;
}
#menu li#description a:hover {
background: url("../img/description_hover.jpg") no-repeat scroll 0 0 #0189ca;
background-position: center;
}
#menu li#ingredient a:hover {
background: url("../img/ingredient_hover.jpg") no-repeat scroll 0 0 #0189ca;
background-position: center;
;
}
#menu li#view a.current {
background: url("../img/view_hover.jpg") no-repeat scroll 0 0 #0189ca;
cursor:default;
background-position: center;
}
#menu li#description a.current {
background: url("../img/description_hover.jpg") no-repeat scroll 0 0 #0189ca;
cursor:default;
background-position: center;
}
#menu li#ingredient a.current {
background: url("../img/ingredient_hover.jpg") no-repeat scroll 0 0 #0189ca;
cursor:default;
background-position: center;
}
.clear {
clear:both;
}
@media (max-width:1024px) {
#menubg {position:fixed;}
}



/*--- Second Level --*/

.secondlevel { 
display:block;
background:#f8f8f8; 
width:100%;
clear:both;


}


.nav2 {
	max-width:1200px;  
	background:#f8f8f8; 
	height:20px;
	padding-left:7px;
	}


.secondlevel .nav2 li { 
float:left;
margin:0;
list-style: none;
font-size:12px;
color:#9d9d9d;
margin:2px 0 0 2px;


}
.nav2 li a {
display:block;
text-align:center;
overflow: hidden;
height:100%;
width:100%;
text-decoration:none;
color:#9d9d9d;
}
.nav2 li.current {
 color:#666464;
}



@media (max-width:1024px) { 
	
	.secondlevel .nav2{padding-left:8px; }
	
	}
	
	.secondlevel .content-nav { width:100%; 
display: inline-block;
    vertical-align: top;
    margin-bottom: 0.3em;
    *display: inline;
    *margin-right: 0.3em;
    *zoom: 1;
	margin:0;
	}
	
	

.secondlevel .accordion_toggle{
    height: 18px;
    line-height: 15px;
    margin: 5px 15px 5px;
    padding: 0;
	text-transform:uppercase;
	font-size:13px;
}


.secondlevel .horizontal_container p { font-size:12px;background:#f8f8f8; padding:0 0 10px 32px;
}



/*-- Special --*/
.special {
padding: 6%; background:white;
}
.special ul.promotion_list {
list-style: none;
overflow: hidden;
}
.special ul.promotion_list li {
display: block;
width: 30.90909090909091%;
height: auto;
position: relative;
float: left;
margin: 0 3.636363636363636% 3.636363636363636% 0;
}
.special ul.promotion_list li img.meal_img {
width: 100%;
height: auto!important;
vertical-align: top;
}
.special ul.promotion_list li .price {
position: absolute;
top: 10px;
left: 10px;
padding: 15px 20px;
background: #ffffff;
color: #514d4d;
font-size: 16px;
font-weight: bold;
letter-spacing: 1px;
}
.special ul.promotion_list li:nth-child(3n+0) {
margin-right: 0;
}
.special ul li .meal_details {
width: 87.64705882352941%;
padding: 2.941176470588235% 5.882352941176471% 4.117647058823529% 5.882352941176471%;
border: 1px solid #c3c2c2;
}
.special ul li:hover .meal_details {
border-bottom: 1px solid #0189ca;
border-left: 1px solid #0189ca;
border-right: 1px solid #0189ca;
}
.special ul li .meal_details h1 {
color: #666464;
font-size: 16px!important;
font-weight: bold;
margin-bottom: 5px;
line-height: 28px;
}
.special ul li .meal_details h1 a {
text-decoration: none;
color: #666464;
}
.special ul li .meal_details h2 {
color: #9d9d9d;
font-family: 'Open Sans', sans-serif;
font-size: 12px;
line-height: 26px;
font-weight: normal;
}
.special ul li .meal_details .meal_size {
color: #676767;
}
.special .more_listing {
display: block;
width: 100%;
text-align: center;
margin: 84px 0 22px 0;
}
.special .more_listing_btn {
text-decoration: none;
padding: 20px 40px;
border: 2px solid #c3c2c2;
color: #666464;
font-family: 'Open Sans', sans-serif;
font-size: 16px;
text-transform: uppercase;
letter-spacing: 1px;
text-align: center;
}
.special .more_listing_btn:hover {
color: #a0c3e5;
border: 2px solid #a0c3e5;
}




/*-- Footer --*/
footer {
padding-top: 100px;
background: #515050;
padding-bottom: 150px;
}
footer .footer > ul {
overflow: hidden;
}
footer .footer > ul > li {
display: block;
float: left;
list-style: none;
margin-right: 60px;
}
footer .footer > ul > li:last-child {
margin-right: 0;
}
footer .footer > ul > li.links {
width: 197px;
}
footer ul li.links > ul > li {
display: block;
width: 100%;
list-style: none;
margin-bottom: 27px;
}
footer ul li.links > ul > li:last-child {
margin-bottom: 0;
}
footer .footer > ul > li.links li a {
text-decoration: none;
display: block;
color: #fff;
font-family: 'Open Sans', sans-serif;
font-size: 16px;
letter-spacing: .5px;
text-align: left;
}
footer .footer > ul > li.about {
width: 327px;
}
footer ul li.about p {
color: #fff;
font-family: 'Open Sans', sans-serif;
font-size: 16px;
letter-spacing: .5px;
line-height: 34px;
margin-top: -9px;
}
footer ul li.about > ul > li {
display: inline-block;
margin-right: 20px;
margin-top: 30px;
}
footer ul li.about > ul > li:last-child {
margin-right: 0;
}
footer ul li.about > ul > li a {
background: url('../img/social_media.png') no-repeat;
}
footer ul li.about > ul > li a.facebook {
display: block;
width: 10px;
height: 18px;
background-position: 0 0;
}
footer ul li.about > ul > li a.twitter {
display: block;
width: 19px;
height: 18px;
background-position: -11px 0px;
}
footer .copyrights {
display: block;
text-align: center;
padding: 40px 0;
margin-top: 60px;
color: #fff;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
letter-spacing: .5px;
border-top: 1px solid #82abd4;
}
footer .copyrights a.ph_link {
font-family: 'Open Sans', sans-serif;
font-weight: bold;
text-decoration: none;
}
@media (max-width:1024px) {
.special {
display:none;
}
}
@media (max-width:1024px) {
footer {
display:none;
}
}


/*----- MapSearch ---*/

#map {height:100%; width:100%; }




#btn_locate {
background: none repeat scroll 0 0 #ffffff;
background: url("../img/icon/btn_locate.jpg") no-repeat scroll 50% 50%;
color: #5e5e5e !important;
display: block;
float: right;
font-family: inherit;
font-size: 20px;
padding: 8px 10px;
text-align: center;
width: 60px;
box-sizing: border-box;
height: 60px;
z-index:999;
background-color:white;
border: 1px solid #c3c2c2;
border-left:0;
}
#btn_locate:hover {background: url("../img/icon/btn_locate_hover.jpg") no-repeat scroll 50% 50% #0189ca;}




@media (max-width:2500px) and (orientation: portrait) {

#btn_locate  {
  height: 50px;
  width: 50px;
}
}

@media (max-width: 1020px) and (orientation: landscape){
	#btn_locate  {
  height: 50px;
  width: 50px;
}

}


/*---- Site food result ----*/

.content_full {width:98%; margin:0 auto;}
.content_full h5 {color:#f2f1f1; font-weight:200; text-indent:2px; margin-top:30px; font-size:24px; }

.list {
height:100%;
margin-top:20px;
}
.list ul {
margin:0;
padding:0;
}
.list li {
margin:0;
padding:0;
list-style: none;
width:23%;
min-width:420px;
display: inline-block;
vertical-align: top;
*display: inline;
*zoom: 1;
margin:0;
margin-left:1%;	
}

.list li:last-child {
     margin-right: 0;
	 }

.meal_list {
background:#ffffff;
margin: 0% 0 4% 0;
overflow:hidden;
border:none;
position:relative;
-moz-box-shadow:1px 1px 6px #292929; 
-webkit-box-shadow:1px 1px 6px #292929; 
-khtml-box-shadow:1px 1px 6px #292929; 
box-shadow:1px 1px 6px #292929; 
}

.meal_list img {
width: 100%;
text-decoration: none;
margin-bottom: 0;
}

.meal_list:hover {background:#f2f1f1; }


.meal_list .price {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 12px 16px;
  background: #ffffff;
  color: #9d9d9d;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}


.meal_list h1 {
width: 95%;
padding: 2% 3% 3% 3%;
text-decoration:none;
color:#666464;
font-weight:400;
letter-spacing:0px;
font-size: 14px;
}

.list li:last-child {
	margin-bottom:100px;
}

/*mobile*/
@media only screen and (max-device-width: 1024px) {

.meal_list .price  {  padding: 5px 10px; font-size: 12px;}

.meal_list h1 {font-size:12px; padding: 1% 3% 3% 2%; margin:0; min-height:40px;
}

.list li:last-child {
	margin-bottom:80px;

}

.list li {width:48%;min-width:120px;}

.content_full {height:100%}
.content_full h5 {display:none; }


.list {margin-top:2%;}

}








#menu2 {
width:100%;
height:100%;
position:absolute;
bottom:0;
margin:0;
padding:0;
}
#menu2 li {
float:left;
margin:0;
list-style: none;
width:20%;
height:100%;
background: #181818; 
}
#menu2 li a {
display:block;
text-indent: -9999px;
text-align:center;
overflow: hidden;
height:100%;
width:100%;
color:white;
text-decoration:none;
}





#menu2 li#food a {
background: url("../img/icon/food.svg") no-repeat scroll 0 0 transparent;
width:100%;
background-position: center;

}
#menu2 li#drink a {
background: url("../img/icon/drink.svg") no-repeat scroll 0 0 transparent;
width:100%;
background-position: center;
}
#menu2 li#more a {
background: url("../img/icon/more.svg") no-repeat scroll 0 0 transparent;
width:100%;
background-position: center;
}

#menu2 li#home a {
background: url("../img/icon/home.svg") no-repeat scroll 0 0 transparent;
width:100%;
background-position: center;
}


#menu2 li#goback a {
background: url("../img/icon/back.svg") no-repeat scroll 0 0 transparent;
width:100%;
background-position: center;
}







#menu2 li#food a:hover {
background: url("../img/icon/food_hover.svg") no-repeat scroll 0 0 #0189ca;
background-position: center;
}
#menu2 li#drink a:hover {
background: url("../img/icon/drink_hover.svg") no-repeat scroll 0 0 #0189ca;
background-position: center;
}
#menu2 li#more a:hover {
background: url("../img/icon/more_hover.svg") no-repeat scroll 0 0 #0189ca;
background-position: center;
;
}

#menu2 li#home a:hover {
background: url("../img/icon/home_hover.svg") no-repeat scroll 0 0 #0189ca;
background-position: center;
;
}
#menu2 li#goback a:hover {
background: url("../img/icon/back_hover.svg") no-repeat scroll 0 0 #0189ca;
background-position: center;
;
}




#menu2 li#food a.current {
background: url("../img/icon/food_hover.svg") no-repeat scroll 0 0 #0189ca;
cursor:default;
background-position: center;
}
#menu2 li#drink a.current {
background: url("../img/icon/drink_hover.svg") no-repeat scroll 0 0 #0189ca;
cursor:default;
background-position: center;
}
#menu2 li#more_search a.current {
background: url("../img/icon/more_hover.svg") no-repeat scroll 0 0 #0189ca;
cursor:default;
background-position: center;
}
#menu2 li#home_search a.current {
background: url("../img/icon/home_hover.svg") no-repeat scroll 0 0 #0189ca;
cursor:default;
background-position: center;
}

#menu2 li#back_search a.current {
background: url("../img/icon/back_hover.svg") no-repeat scroll 0 0 #0189ca;
cursor:default;
background-position: center;
}





















/*---- View page ---*/

.current_restaurant_view .current_restaurant .current_restaurant_pic {display:none;}

.main h5 {color:#f2f1f1; font-weight:200; text-indent:2px; margin-top:30px; font-size:24px; }

.main .content-nav {width:30%; float:left;}

.main {

  min-width: 200px;
 width:98%;
 
  margin: 0 auto;
 
 
  margin-top: 20px;
}


.main img {width:100%;}

.viewpic {position:relative; width:100%; margin:0; padding:0;  line-height:0; margin-top:20px;   width:45%; float:left; margin-bottom:40px;}

.main .viewpic .price {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 15px 20px;
  background: #ffffff;
  color: #9d9d9d;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height:16px;
}

.main img {

}


.main h1 {
  font-weight: 400;
  text-align: left;
    background: #fff;
	font-size: 20px;
	padding:10px;
	margin-top:20px;
	width:35%;
	float:left;
}


.translate {
            color: white;
            background: #0189ca;
           border:none;
		   padding: 3px;
		   font-weight:500;
		   font-size:12px;
		   letter-spacing:1px;
		   float:right;
		   
		   }

.main .accordion_toggle {background: #fff; margin:2% 0 0 0;border:none;}
.horizontal_container p {margin:0; background: #fff; border:none;}

.main .accordion_toggle {padding:10px 15px 10px 15px; font-size:13px;   }
.main .horizontal_container p {padding:0 15px 10px 15px; font-size:13px; margin:0; background: #fff;}

@media only screen and (max-device-width: 1024px) {
	
.main {  padding:0;
		margin:0;
		width:96%;margin:2%;}
	
	
	.main img {
		width:100%;
		
	
}
	
	.main h5 {display:none; }

	
	.main .content-nav {width:100%; float:none;}

	
.viewpic {margin-top:0; float: none; width:100%; margin-bottom:0;}
.main .viewpic .price {
 
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}


.main h1 {
  font-weight: 400;
  text-align: left;
  font-size: 15px;
  padding: 10px 15px 10px 15px;
  margin:0;
  clear:both;
  width: auto;
	float:none;
  }

.main .accordion_toggle {padding:10px 15px 10px 15px; font-size:13px; border:none;  }
.main .horizontal_container p {padding:0 15px 10px 15px; font-size:13px; margin:0; background: #fff;border:none;}

}


/*-------- Restaurant Result -----*/
#restaurant_bg #form-container {position:absolute; margin-top:50px;}

#result {width:100%; height:100%; margin-top: 140px;}


#result li {display:block; margin:0% 10% 2% 10%; width:80%;}

.list_restaurant li {
list-style: none;
float:left;
width:80%;
margin:10px 0 10px 0;


}
.restaurant_list {
background:#ffffff;
overflow:hidden;
position: relative;
}
.list_restaurant li:last-child {
margin-bottom: 60px;
}
.restaurant_list img {
width: 30%;
text-decoration: none;
float:left;
margin:2%;
}
.restaurant_list .restaurant_head {
width: 22%;
float:left;
margin:5% 0 5% 5%;

}
.restaurant_list .restaurant_more {
width: 24%;
float:right;
margin:6% 1% 6% 2%;
color:#666464;
}

.restaurant_list .restaurant_more a {

color:#666464;
}

.address {font-size: 15px; font-weight:normal; color:#9d9d9d;  }

.restaurant_list .restaurant_more .maplink {color:#0189ca;}
.restaurant_list .restaurant_more .hr i {color:#0189ca;}

.restaurant_list h1 {
text-decoration:none;
color:#666464;
letter-spacing: 0px;
font-weight: 500;
margin:0; padding:0;
line-height:95%;
}





@media only screen and (max-device-width: 1024px) {
#result {margin-top:50px;}

#result li {
width:96%;
margin:0% 2% 2% 2%;
display: block;
}

#result li:last-child {
margin-bottom: 60px;
}

.restaurant_list img { width:43%; margin:2%;}
.restaurant_list .restaurant_more  {font-size:11px; width:51%;float:left; margin: 0 0 3% 2%; }
.restaurant_list .restaurant_head { width:51%; float:left; margin: 3% 0 0 2%;}
.restaurant_list h1  {font-size: 13px; margin-bottom:3%; font-weight:500;}
.address {font-size:12px; margin-top: 1%; margin-bottom: 1%;}

#restaurant_bg #form-container {width:96%; margin:10px 2% 0 2%;}

}



svg {margin-left:15px;}


