/* Clearfix */
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
 *zoom: 1;
}
/* Basic Styles */



/*-- General Styles --*/
body {
	background: #ffffff;
	font-family: 'Open Sans', sans-serif;
}
html {
	height:100%;
}
body {
	height:100%;
}
.wrapper {
	margin: 0 auto;
	position: relative;
	max-width:1200px;
}
h1, h2, h3, h4, h5, h6 {
	color: #626262;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
}
h1 {
	font-size: 2em;
	margin: .67em 0
}
h2 {
	font-size: 1.5em;
	margin: .75em 0
}
h3 {
	font-size: 1.17em;
	margin: .83em 0
}
h5 {
	font-size: .83em;
	margin: 1.5em 0
}
h6 {
	font-size: .75em;
	margin: 1.67em 0
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bolder
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
 *zoom: 1;
}
/*-- Navigation --*/
#menubg {
	background: #181818;
	width:100%;
	position:absolute;
	min-height:50px;
	height:10%;
	bottom:0;
	z-index:0;
}
#menuwrap {
	width:100%;
	margin:0 auto;
}
#menu {
	width:100%;
	height:100%;
	position:absolute;
	bottom:0;
	margin:0;
	padding:0;
}
#menu li {
	float:left;
	margin:0;
	list-style: none;
	width:33.33333333%;
	height:100%;
	background: #181818;
}
#menu li a {
	display:block;
	text-indent: -9999px;
	text-align:center;
	overflow: hidden;
	height:100%;
	width:100%;
	color:white;
	text-decoration:none;
}
#menu li#home a {
	background: url("../img/name_search.jpg") no-repeat scroll 0 0 transparent;
	width:100%;
	background-position: center;
}
#menu li#map_search a {
	background: url("../img/map_search.jpg") no-repeat scroll 0 0 transparent;
	width:100%;
	background-position: center;
}
#menu li#code_search a {
	background: url("../img/code_search.jpg") no-repeat scroll 0 0 transparent;
	width:100%;
	background-position: center;
}
#menu li#home a:hover {
	background: url("../img/name_search_hover.jpg") no-repeat scroll 0 0 #0096ce;
	background-position: center;
}
#menu li#map_search a:hover {
	background: url("../img/map_search_hover.jpg") no-repeat scroll 0 0 #0096ce;
	background-position: center;
}
#menu li#code_search a:hover {
	background: url("../img/code_search_hover.jpg") no-repeat scroll 0 0 #0096ce;
	background-position: center;
	;
}
#menu li#home a.current {
	background: url("../img/name_search_hover.jpg") no-repeat scroll 0 0 #0096ce;
	cursor:default;
	background-position: center;
}
#menu li#map_search a.current {
	background: url("../img/map_search_hover.jpg") no-repeat scroll 0 0 #0096ce;
	cursor:default;
	background-position: center;
}
#menu li#code_search a.current {
	background: url("../img/code_search_hover.jpg") no-repeat scroll 0 0 #0096ce;
	cursor:default;
	background-position: center;
}
#menu li#view a {
	background: url("../img/view.jpg") no-repeat scroll 0 0 transparent;
	width:100%;
	background-position: center;
}
#menu li#description a {
	background: url("../img/description.jpg") no-repeat scroll 0 0 transparent;
	width:100%;
	background-position: center;
}
#menu li#ingredient a {
	background: url("../img/ingredient.jpg") no-repeat scroll 0 0 transparent;
	width:100%;
	background-position: center;
}
#menu li#view a:hover {
	background: url("../img/view_hover.jpg") no-repeat scroll 0 0 #0096ce;
	background-position: center;
}
#menu li#description a:hover {
	background: url("../img/description_hover.jpg") no-repeat scroll 0 0 #0096ce;
	background-position: center;
}
#menu li#ingredient a:hover {
	background: url("../img/ingredient_hover.jpg") no-repeat scroll 0 0 #0096ce;
	background-position: center;
	;
}
#menu li#view a.current {
	background: url("../img/view_hover.jpg") no-repeat scroll 0 0 #0096ce;
	cursor:default;
	background-position: center;
}
#menu li#description a.current {
	background: url("../img/description_hover.jpg") no-repeat scroll 0 0 #0096ce;
	cursor:default;
	background-position: center;
}
#menu li#ingredient a.current {
	background: url("../img/ingredient_hover.jpg") no-repeat scroll 0 0 #0096ce;
	cursor:default;
	background-position: center;
}
.clear {
	clear:both;
}
/*--  Header --*/

header {
width: 100%;
height:9%;
max-height: 75px;
min-height:40px;
background:#0096ce;
z-index: 2;
position: absolute;
border-bottom:1px solid #181818;
 }


header img {
	width:auto;
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	margin: 15px 40px 0 20px;
	height:80%;
	max-height: 50px;
	min-height: 30px;
}


 @media only screen and (max-device-width: 1024px) {
header img {margin:8px 0 0 10px; max-height: 35px;}	 
header {max-height:50px;}
 }
 

 
 
 
 
 
 
 
 /*---------language select -----*/ 




 .language {width:4%; position:absolute; right:0; min-width:70px; height:10px; margin:16px 30px 30px 30px; background: #0096ce;}

.languageselect { width:100%; background:red; }


.language select{
   
  background: #0096ce;
    color:#FFF;
   font-size: 15px;
   border-color:#0096ce;

   height:40px;
 

}


.lt-ie10 select { 
    background-image: none; 
}

option:not(:checked) { 
    background-color: white; 
    color:#000;
}


.language select {
  -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
	 position: absolute;
	
	
}

 @media only screen and (max-device-width: 1024px) {
.language {margin:0px;}	 
.language select {font-size: 13px;}
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 

.top {
	width: 100%;
	height:100%;
	position: relative;
	/*  background: url('../img/top.jpg') no-repeat bottom center;*/
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
.top .caption {
	width: 100%;
	position: relative;
	text-align: left;
	top: 30%;
	z-index: 10;
}
 @media screen and (max-width: 1000px) {
.top {
	background: url('../img/top_small.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:absolute;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	z-index:-1;
}
}
/*-- Special --*/
.special {
	padding: 6%;
}
.special ul.promotion_list {
	list-style: none;
	overflow: hidden;
}
.special ul.promotion_list li {
	display: block;
	width: 30.90909090909091%;
	height: auto;
	position: relative;
	float: left;
	margin: 0 3.636363636363636% 3.636363636363636% 0;
}
.special ul.promotion_list li img.meal_img {
	width: 100%;
	height: auto!important;
	vertical-align: top;
}
.special ul.promotion_list li .price {
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 15px 20px;
	background: #ffffff;
	color: #514d4d;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
}
.special ul.promotion_list li:nth-child(3n+0) {
	margin-right: 0;
}
.special ul li .meal_details {
	width: 87.64705882352941%;
	padding: 2.941176470588235% 5.882352941176471% 4.117647058823529% 5.882352941176471%;
	border: 1px solid #f2f1f1;
}
.special ul li:hover .meal_details {
	border-bottom: 1px solid #0096ce;
	border-left: 1px solid #0096ce;
	border-right: 1px solid #0096ce;
}
.special ul li .meal_details h1 {
	color: #666464;
	font-size: 16px!important;
	font-weight: bold;
	margin-bottom: 5px;
	line-height: 28px;
}
.special ul li .meal_details h1 a {
	text-decoration: none;
	color: #666464;
}
.special ul li .meal_details h2 {
	color: #9d9d9d;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: 26px;
	font-weight: normal;
}
.special ul li .meal_details .meal_size {
	color: #676767;
}
.special .more_listing {
	display: block;
	width: 100%;
	text-align: center;
	margin: 84px 0 22px 0;
}
.special .more_listing_btn {
	text-decoration: none;
	padding: 20px 40px;
	border: 2px solid #0096ce;
	color: #666464;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
}
.special .more_listing_btn:hover {
	color: #a0c3e5;
	border: 2px solid #a0c3e5;
}
/*-- Footer --*/
footer {
	padding-top: 100px;
	background: #181818;
}
footer .footer > ul {
	overflow: hidden;
}
footer .footer > ul > li {
	display: block;
	float: left;
	list-style: none;
	margin-right: 60px;
}
footer .footer > ul > li:last-child {
	margin-right: 0;
}
footer .footer > ul > li.links {
	width: 197px;
}
footer ul li.links > ul > li {
	display: block;
	width: 100%;
	list-style: none;
	margin-bottom: 27px;
}
footer ul li.links > ul > li:last-child {
	margin-bottom: 0;
}
footer .footer > ul > li.links li a {
	text-decoration: none;
	display: block;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	letter-spacing: .5px;
	text-align: left;
}
footer .footer > ul > li.about {
	width: 327px;
}
footer ul li.about p {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	letter-spacing: .5px;
	line-height: 34px;
	margin-top: -9px;
}
footer ul li.about > ul > li {
	display: inline-block;
	margin-right: 20px;
	margin-top: 30px;
}
footer ul li.about > ul > li:last-child {
	margin-right: 0;
}
footer ul li.about > ul > li a {
	background: url('../img/social_media.png') no-repeat;
}
footer ul li.about > ul > li a.facebook {
	display: block;
	width: 10px;
	height: 18px;
	background-position: 0 0;
}
footer ul li.about > ul > li a.twitter {
	display: block;
	width: 19px;
	height: 18px;
	background-position: -11px 0px;
}
footer .copyrights {
	display: block;
	text-align: center;
	padding: 40px 0;
	margin-top: 60px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	letter-spacing: .5px;
	border-top: 1px solid #82abd4;
}
footer .copyrights a.ph_link {
	font-family: "lato-bold", Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
}
/ @media (max-width:800px) {
.webhead {
display:none;
}
}
@media (max-width:1024px) {
.special {
	display:none;
}
}
@media (max-width:1024px) {
footer {
	display:none;
}
}
/*----Search ----*/
input, select, textarea {
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #999999; 
	color: #5e5e5e;
	display: block;
	font-size: inherit;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	font-size: 28px;
	margin: 0;
	height: 70px;
	z-index:999;
}
#searchtext {
	overflow: hidden;
}
a.search-submit-button {
	background: none repeat scroll 0 0 #ffffff;
	background: url("../img/btn_search.jpg") no-repeat scroll 50% 50%;
	color: #5e5e5e !important;
	display: block;
	float: right;
	font-family: inherit;
	font-size: 20px;
	padding: 8px 10px;
	text-align: center;
	width: 70px;
	box-sizing: border-box;
	height: 70px;
	z-index:999;
	background-color:white;
	border: 1px solid #999999;
	
	
}
a.search-submit-button:hover {
	background: none repeat scroll 0 0 #ffffff;
	background: url("../img/btn_search_hover.jpg") no-repeat scroll 50% 50%;
	background-color:#0096ce;
}
#form-container {
	width: 70%;
	margin:0 auto;
	margin-top:20%;
	z-index:999;
	position:relative;
}
#map-container {
	width: 70%;
	margin:0 auto;
	margin-top:4%;
	z-index:999;
	position:relative;
}
 @media (max-width:1400px) {
a.search-submit-button {
	width:50px;
}
#form-container {
	width: 60%;
	margin:0 auto;
	margin-top:20%;
}
input, select, textarea {
	font-size:19px;
	height: 45px;
}
a.search-submit-button {
	height:45px;
}
}




/*landscape*/
@media only screen and (min-device-width: 320px) and (max-device-width: 1224px) and (orientation: landscape) {
#form-container {
	margin-top:20%;
	width: 85%;
}
}
 @media only screen and (min-device-width: 100px) and (max-device-width: 2560px) and (orientation: portrait) {
#form-container {
	margin-top:50%;
	width: 85%;
}
}
/*--Content--*/




.content {
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	z-index:0;
	overflow:hidden;
}
.content img {
	width:100%;
}
#pic {
	position:absolute;
	top:0;
	height: 100%;
	width:100%;
}
#pic img {
	width:100%;
}
 @media only screen and (max-device-width: 2700px) and (orientation: portrait) {
#pic img {
	display:none;
}
#pic {
	background: url("../img/bg_small.jpg") no-repeat scroll 50% 50% black;
	width:100%;
	height:100%;
	background-size:100%;
}
}









/*--- View Page ---*/



.secondlevel {
	position:absolute;
	top:40px;
	z-index:2;
	width:100%;
}
.nav2 {
	background:#181818;
	height: 40px;
	margin: 0;
	padding: 0;
	width: 100%;
}
.nav2 li {
	float:right;
	margin:0;
	list-style: none;
	height:23px;
	font-size:13px;
	background:#181818;
}
.nav2 li a {
	display:block;
	text-indent: -9999px;
	text-align:center;
	overflow: hidden;
	height:100%;
	width:100%;
	text-decoration:none;
}
.nav2 li.name {
	width:65%;
	float: left;
	background:#181818;
	color: white;
	height:20px;
	padding:10px 0 10px 0;
	text-indent: 25px;
}
.nav2 li.goback {
	float:right;
	height:20px;
	padding: 10px 0 10px 0;
	border:0;
	width:40px;
}
.nav2 li.start {
	float:right;
	height:20px;
	padding: 10px 0 10px 0;
	border:0;
	width:40px;
}
.nav2 li.goback a {
	background: url("../img/goback.jpg") no-repeat scroll 0 0 #181818;
	width:10%;
	background-position: center;
	min-width:30px;
}
.nav2 li.start a {
	background: url("../img/start.jpg") no-repeat scroll 0 0 #181818;
	width:10%;
	background-position: center;
	min-width:30px;
}
.nav2 li.goback a:hover {
	background: url("../img/goback_hover.jpg") no-repeat scroll 0 0 #181818;
	background-position: center;
}
.nav2 li.start a:hover {
	background: url("../img/start_hover.jpg") no-repeat scroll 0 0 #181818;
	background-position: center;
}
.price {
	color:#0096ce;
}
#pic_view img {
	display:none;
	display:block;
	margin: 25px auto auto;
}
#pic_view {
	width:60%;
	height:100%;
	float:left;
}
.mealbox {
	width:40%;
	float:right;
	height:100%;
	padding-top:30%;
}
.meal {
	width:100%;
}
.meal p {
	width: 70%;
	float:left;
	padding-bottom:4%;
	font-size:30px;
}
.translate {
	width:30%;
	background:#181818;
	float:left;
	height:100%;
}
.translate li {
	margin:0;
	padding:0;
	list-style: none;
	width:100%;
	height:250px;
	background: #181818;
}
.translate li a {
	display:block;
	text-indent: -9999px;
	text-align:center;
	overflow: hidden;
	height:100%;
	width:100%;
	color:white;
	text-decoration:none;
	margin:0;
	padding:0;
	background-position: center;
}
.translate li a {
	background: url("../img/translate.png") no-repeat scroll 0 0 #181818;
	width:100%;
	background-position: center top;
}
.translate li a:hover {
	background: url("../img/translate_hover.png") no-repeat scroll 0 0 #0096ce;
	background-position: center top;
}
.translate li a:focus {
	background: url("../img/translate_hover.png") no-repeat scroll 0 0 #0096ce;
	background-position: center top;
}
 @media only screen and (max-device-width: 1000px) and (orientation: portrait) {
#pic_view {
	width:100%;
}
#pic_view img {
	width:100%;
	background:none;
	display:block;
}
.mealbox {
	left:0px;
	bottom:10%;
	position: absolute;
	width:100%;
}
.meal {
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: rgba(255,255,255,0.8);
	width:100%;
}
.meal p {
	max-width: 65%;
	float:left;
	padding-left:3%;
	padding-bottom:1%;
	padding-right:2%;
	font-size:16px
}
.translate {
	width:30%;
	background:#181818;
	float:left;
	height:100%;
	position: absolute;
	top: 0px;
	right:0;
}
.translate li {
	margin:0;
	padding:0;
	list-style: none;
	width:100%;
	height:150px;
	background: #181818;
}
.translate li a {
	display:block;
	text-indent: -9999px;
	text-align:center;
	overflow: hidden;
	height:100%;
	width:100%;
	color:white;
	text-decoration:none;
	margin:0;
	padding:0;
	background-position: center;
}
.translate li a {
	background: url("../img/translate.png") no-repeat scroll 0 0 #181818;
	width:100%;
	background-position: center top;
}
.translate li a:hover {
	background: url("../img/translate_hover.png") no-repeat scroll 0 0 #0096ce;
	background-position: center top;
}
.translate li a:focus {
	background: url("../img/translate_hover.png") no-repeat scroll 0 0 #0096ce;
	background-position: center top;
}
}
 @media only screen and (max-device-width: 1000px) and (orientation: landscape) {
.meal p {
	font-size:15px;
}
}
/*---- Description ----*/
 
 
.descripiton {
	padding:9px;
	font-size:16px;
}
/*---- Site food result ----*/

.list {
	height:100%;
}
.list ul {
	background:white;
	margin:0;
	padding:0;
	margin-top:60px;
}
.list li {
	margin:0;
	list-style: none;
	float:left;
	width:50%;
}
.meal_list {
	background:#f2f1f1;
	margin:2% 4% 0 4%;
	overflow:hidden;
}
.meal_list img {
	width: 40%;
	text-decoration: none;
	margin-bottom: -43%;
}
.meal_list h1 {
	width: 50%;
	padding:0 3% 0 2%;
	font-size:19px;
	float: right;
	text-decoration:none;
	font-weight:normal;
}
.meal_list h1 a {
	text-decoration:none;
	color:black;
}
#menu li#food a {
	background: url("../img/food.jpg") no-repeat scroll 0 0 transparent;
	width:100%;
	background-position: center;
}
#menu li#drink a {
	background: url("../img/drink.jpg") no-repeat scroll 0 0 transparent;
	width:100%;
	background-position: center;
}
#menu li#more a {
	background: url("../img/more.jpg") no-repeat scroll 0 0 transparent;
	width:100%;
	background-position: center;
}
#menu li#food a:hover {
	background: url("../img/food_hover.jpg") no-repeat scroll 0 0 #0096ce;
	background-position: center;
}
#menu li#drink a:hover {
	background: url("../img/drink_hover.jpg") no-repeat scroll 0 0 #0096ce;
	background-position: center;
}
#menu li#more a:hover {
	background: url("../img/more_hover.jpg") no-repeat scroll 0 0 #0096ce;
	background-position: center;
	;
}
#menu li#food a.current {
	background: url("../img/food_hover.jpg") no-repeat scroll 0 0 #0096ce;
	cursor:default;
	background-position: center;
}
#menu li#drink a.current {
	background: url("../img/drink_hover.jpg") no-repeat scroll 0 0 #0096ce;
	cursor:default;
	background-position: center;
}
#menu li#more_search a.current {
	background: url("../img/morehover.jpg") no-repeat scroll 0 0 #0096ce;
	cursor:default;
	background-position: center;
}
.content_scroll {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	overflow: scroll;
}
.list li:last-child {
	margin-bottom:10%;
}
}
 @media only screen and (max-device-width: 1000px) {
.list li {
	width:100%;
	font-size:13px;
}
.meal_list h1 {
	font-size:14px;
}
.list li:last-child {
	margin-bottom:20%;
}
}
 @media only screen and (max-device-width: 2508px) and (orientation: portrait) {
.list li {
	width:100%;
	font-size:13px;
}
.list li:last-child {
	margin-bottom:20%;
}
}
 @media only screen and (max-device-width: 1200px) {
.meal_list h1 {
	font-size: 15px;
}
}
/* --- Links -- */ 
a {
	text-decoration:none;
	color:#0096ce;
}
a:focus {
	text-decoration:none;
	color:#0096ce;
}
a:hover {
	color:#0096ce;
	text-decoration:none;
}
a:active {
	text-decoration:none;
	color:#0096ce;
}
/* ---- Restaurant result list ----*/


.restaurant_list {
	background:#f2f1f1;
	margin:2% 4% 0 4%;
	overflow:hidden;
}
.restaurant_list img {
	width: 45%;
	text-decoration: none;
	float:left;
}
.restaurant_list h1 {
	width: 50%;
	letter-spacing: 0px;
	font-size:19px;
	float: right;
	text-decoration:none;
	font-weight:normal;
	color:black;
	margin:0;
	padding:0;
}
.restaurant_list p {
	width: 50%;
	color: grey;
	float: right;
	font-size: 13px;
	margin:0;
	padding:0;
}
.restaurant_list h1 a {
	text-decoration:none;
	color:black;
}
}
 @media only screen and (max-device-width: 1000px) {
.restaurant_list h1 {
	font-size:14px;
}
}
 @media only screen and (max-device-width: 1200px) {
.restaurant_list h1 {
	font-size: 15px;
}
}

#form-container_restaurant {
	width: 96%;
	margin:0 auto;
	margin-top:80px;
	z-index:999;
	position:relative;
}
 @media (max-width:1400px) {
#form-container_restaurant {
	width: 92%;
	margin:0 auto;
	margin-top:60px;
}
}



/*landscape*/
@media only screen and (min-device-width: 320px) and (max-device-width: 1224px) and (orientation: landscape) {
#form-container_restaurant {
	margin-top:75px;
	width: 92%;
}
}
 @media only screen and (min-device-width: 100px) and (max-device-width: 2560px) and (orientation: portrait) {
#form-container_restaurant {
	margin-top:75px;
	width: 92%;
}
}
.list_restaurant {
	height:100%;
}
.list_restaurant ul {
	background:white;
	margin:0;
	padding:0;
	margin-top:15px;
}
.list_restaurant li {
	margin:0;
	list-style: none;
	float:left;
	width:50%;
}
.list_restaurant li:last-child {
	margin-bottom:10%;
}
}
 @media only screen and (max-device-width: 1000px) {
.list_restaurant li {
	width:100%;
	font-size:13px;
}

}
 @media only screen and (max-device-width: 2508px) and (orientation: portrait) {
.list_restaurant li {
	width:100%;
	font-size:13px;
}

}



 
 
 

 
